// @use '../../styles/index' as *;

// @mixin reset {
//   padding: 0;
//   aspect-ratio: 1/1;
//   box-shadow: none;

//   &:hover {
//     &::after {
//       content: '';
//       display: none;
//     }
//   }
// }

// .icon__container {
//   display: flex;
//   position: relative;
//   cursor: pointer;

//   &--active {
//     border-bottom: 3px solid $primary-100;
//   }
// }

// .icon {
//   --color: var(--main-text-color);

//   box-sizing: border-box;
//   width: 24px;
//   height: 24px;
//   display: inline-block;
//   background-repeat: no-repeat;
//   background-position: center;
//   box-shadow: -1px 0 0 0 #e2e6e9;

//   @include hover-all;

//   &--homePage {
//     --color: var(--white);

//     @include hover-all;

//     &:hover {
//       --color: var(--gray-60);

//       @include hover-all;
//     }
//   }

//   &--active {
//     --color: var(--primary-100);
//   }

//   &--button {
//     --color: var(--primary-100);

//     @include reset;
//   }

//   &--leaf {
//     mask: url(/leaf.svg) no-repeat center;
//     background-color: var(--gray-60);
//     object-fit: cover;
//     cursor: default;
//     pointer-events: none;

//     @include reset;
//   }

//   &--delete {
//     mask: url(/close.svg) no-repeat center;
//     background-color: var(--color);

//     @include reset;
//   }

//   &--burger {
//     mask: url(/burger.svg) no-repeat center;
//     background-color: var(--color);

//     @include on-tablet {
//       display: none;
//       position: absolute;
//     }
//   }

//   &--close {
//     mask: url(/close.svg) no-repeat center;
//     background-color: var(--color);

//     @include on-tablet {
//       display: none;
//     }
//   }

//   &--favorites {
//     position: relative;

//     mask: url(/favorites.svg) no-repeat center;
//     background-color: var(--color);
//   }

//   &--cart {
//     position: relative;

//     mask: url(/cart.svg) no-repeat center;
//     background-color: var(--color);
//   }

//   &--person {
//     display: block;

//     mask: url(/person.svg) no-repeat center;
//     background-color: var(--color);
//   }

//   &__counter {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     width: 16px;
//     aspect-ratio: 1/1;

//     font-family: $font-family-general;
//     font-weight: 600;
//     font-size: 9px;
//     line-height: 100%;
//     letter-spacing: 0%;

//     border: 1px solid #fff;
//     border-radius: 100%;
//     background: $error;
//     color: white;

//     transform: translateY(-25%) translateX(50%);
//   }
// }

// // .icon--cart.icon--active,
// // .icon--favorites.icon--active {
// //   background-color: var(--primary-100);
// // }

@use '../../styles/index' as *;

@mixin reset {
  padding: 0;
  aspect-ratio: 1/1;
  box-shadow: none;

  &:hover {
    &::after {
      content: '';
      display: none;
    }
  }
}

.icon__link {
  display: flex;
}

.icon__container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.icon {
  --color: var(--main-text-color);

  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color);

  @include hover-all;

  &:hover {
    --color: var(--gray-60);

    @include hover-all;
  }

  &--homePage {
    --color: var(--white);
  }

  &--active {
    --color: var(--primary-100);
  }

  &--button {
    --color: var(--primary-100);

    @include reset;
  }

  &--leaf {
    mask: url(/leaf.svg) no-repeat center;
    background-color: var(--gray-60);
    object-fit: cover;
    cursor: default;
    pointer-events: none;

    @include reset;
  }

  &--burger {
    @include on-tablet {
      display: none;
      position: absolute;
    }
  }

  &--close {
    @include on-tablet {
      display: none;
    }
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16px;
    aspect-ratio: 1/1;

    font-family: $font-family-general;
    font-weight: 600;
    font-size: 9px;
    line-height: 100%;
    letter-spacing: 0%;

    border: 1px solid #fff;
    border-radius: 100%;
    background: $error;
    color: white;

    transform: translateY(-25%) translateX(50%);
  }
}
