@use '../../../../styles/index' as *;

.list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  @include on-tablet {
    row-gap: 24px
  }

  &__li {
    @include page-grid;
  }

  &__title {
    @extend %h4;

    grid-column: 1 / span 1;

    @include on-tablet {
      grid-column: 1 / span 3;
    }

    @include on-desktop {
      grid-column: 1 / span 6;
    }
  }

  &__values {
    @extend %main-text;

    grid-column: span 1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
