@use './styles/index' as *;

.App {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  font-size: $font-size-base;
  font-family: $font-family-general;
  color: $main-text-color;
  background: $main-bg-color;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include on-desktop {
      row-gap: 110px;
    }
  }

  &__main {
    min-height: 50vh;
  }
}
